.responsive {
  width: 38%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

textarea{
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}