.responsive {
  width: 34%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

textarea{
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1{
  text-align: center;
}